{% extends 'product/base.html' %}
{% block content %}
<div class="testbox">
    <div class="testbox">
        <h name = "username">{{object.username}}</h>
    </div>
    <div class="testbox">
        <form action="{% url 'update_user' %}" method="GET"> {% csrf_token %}
            
            <input type="text" name="email" value = '{{ object.email }}'/>
            
        <button type="submit" name='update_user' value={{update_user}}>Change Email</button>
        </form>
    </div>
    <div class="testbox">
        <h>No of Following :   {{following}}</h>
    </div>
    <div class="testbox">
        <h>No of Folllowers:   {{followers}}</h><br>
    </div>
    <form action="{% url 'view_connections' %}" method="GET"> {% csrf_token %}
    <button type="submit" name='view_connections' value={{view_connections}}>View Connections</button>
    </form>
</div>
<div class="testbox">
    <div class="colums">

        {% for object in obj %}

        <div class="prodContainer">
            <h2 style="text-align:center"></h2>

            <div class="card">
                <form action="{% url 'update' %}" method="GET"> {% csrf_token %}
                    <button>
                                <img src="{{ object.picLink }}" alt="{{ object.name }}" style="width:100%">
                                
                                <input type="text" name="name" value = '{{ object.name }}' readonly/>
                                <!-- <h2>{{ object.name }}</h2> -->
                                <p class="price">${{ object.price }}</p>
                                
                                <input type="text" name="description" value = '{{ object.description }}' readonly/>
                                <!-- <p style="color: white;">{{ object.description }}</p> -->
                                
                                {% if object.active %}
                                <h2>Available</h2>
                                <button type="submit" name='update' value={{update}}>Update to Sold out</button>
                                {% else %}
                                <h2>Sold Out</h2>
                                {% endif %}
                            </button>
                </form>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}