{% extends 'product/base.html' %}
{% block content %}
<div class="testbox">
    <h name = "username">{{object.username}}</h>
</div>
<div class="testbox">
    <h>{{object.email}}</h><br>
</div>
<div class="testbox">
    <h>No of Following :   {{l2}}</h>
</div>
<div class="testbox">
    <h>No of Followers:   {{l1}}</h><br>
</div>
    <div class="colums">

        {% for f in followers %}

        <div class="prodContainer">
            <h2 style="text-align:center"></h2>

            <div class="card">
                <p>{{f}}</p>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="colums">

        {% for f in following %}

        <div class="prodContainer">
            <h2 style="text-align:center"></h2>

            <div class="card">
                <p>{{f}}</p>
            </div>
        </div>


        {% endfor %}

    </div>


{% endblock content %}
