{% extends 'product/base.html' %}

{% block content %}
  <div class="testbox" style="color: white; background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWP-cvNoB6jPlcStWJGRJPBy4bouMHC2uXfA&usqp=CAU'); background-repeat: no-repeat; background-size: cover;">
      <form action="" method="POST" style="width: 50%;"> {% csrf_token %}
        <div style="margin-bottom: 60px;">
          <h1>Product Registration</h1>
        </div>
        
        <div 
        <div class="item" style="color: white;">
          {{ form.category.label }}
          {{ form.category }}
        </div>
        <div class="colums" >
          <div class="item" style="color: white;">
            {{ form.name.label }}
            {{ form.name }}
          </div>
          <div class="item" style="color: white;">
            {{ form.seller.label }}
            {{ form.seller }}
          </div>
          <div class="item" style="color: white;">
            {{ form.picLink.label }}
            {{ form.picLink }}
          </div>
          <div class="item" style="color: white;">
            {{ form.price.label }}
            {{ form.price }}
          </div>
          <div class="item" style="color: white;">
            {{ form.discount.label }}
            {{ form.discount }}
          </div>
          <div class="item" style="color: white;">
            {{ form.color.label }}
            {{ form.color }}
          </div>
          <div class="item" style="color: white;">
            {{ form.active.label }}
            {{ form.active }}
          </div>
          <div class="item" style="color: white;">
            {{ form.date.label }}
            {{ form.date }}
          </div>
          <div class="item" style="color: white;">
            {{ form.lattitude.label }}
            {{ form.lattitude }}
          </div>
          <div class="item" style="color: white;">
            {{ form.longitude.label }}
            {{ form.longitude }}
          </div>
        </div>
        <div class="item" style="color: white;">
          {{ form.description.label }}
        {{ form.description }}
        </div>
        <br>
        <center class="message">{{form.errors}}</center>
        
        {% for message in messages %}
            <center class="message">{{message}}</center>
        {% endfor %}
        <div class="btn-block">
          <input type='submit' value='Save' />
        </div>
      </form>
    </div>
    <script>
      if(navigator.geolocation)
            {
              navigator.geolocation.getCurrentPosition(function(position){
                document.getElementById("lattitude").value = position['coords']['latitude'];
                document.getElementById("lattitude").value = position['coords']['longitude'];
              console.log(position['coords']['longitude']);
            });
            }
    </script>
{% endblock content %}