{% extends 'product/base.html' %}

{% block content %}
<center><form method='GET' action="." style="width:50%; margin-bottom: 50px;">
    <input type="text" name="q" placeholder="Search by category"/>
    <input type="text" name="desc" placeholder="Search by Specifications"/>
    <input type="text" name="seller" placeholder="Search by Seller"/>
    <input type="submit" value="Search"/>
</form>	


<!-- <form method='POST' action="{{ user }}/"> {% csrf_token %}
<input type="text" name="user" placeholder="Search users"/>
<input type="submit" value="Search user"/></form>	 -->

<form method='POST' action="." style="width:50%; margin-bottom: 50px;"> {% csrf_token %}
<input type="text" name="user" placeholder="Search users"/>
<input type="submit" value="Search user"/></form>	</center>
{% for message in messages %}
<center class="message">{{message}}</center>
{% endfor %}
		
{% endblock content %}