{% extends 'product/base.html' %}
{% block content %}
    <style>
        /* Split the screen in half */
        .split {
        {#height: 100%;#} position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            margin-top: 100px;
            padding-top: 20px;
        }

        /* Control the left side */
        .left {
            left: 10px;
            width: 40%;
        }

        /* Control the right side */
        .right {
            right: 0;
            width: 60%;
            height: 80%;
        }
    </style>
    <div class="split left">
        <div class="testbox" style="display: block;">
            <div class="testbox" style="display: block;">
                <div style="font-size: 30px; color:black" name="username">Username: <br> <br> {{ object.username }}</div>
            </div>
            <div class="testbox" style="display: block;">
                <div style="font-size: 30px; color:black">Email: <br> <br> {{ object.email }}</div>
            </div>
            <div class="testbox" style="display: block;">
                <div style="font-size: 30px; color:black">No of Following : {{ following }}</div>
            </div>
            <div class="testbox" style="display: block;">
                <div style="font-size: 30px; color:black">No of Followers: {{ followers }}</div>
                <br>
            </div>
        </div>
        <div class="testbox" style="display: block;">
            {% if flag %}
                <form action="{% url 'delete_follower' %}" method="GET" style="width:70%; margin-bottom: 50px;">
                    {% csrf_token %}
                    <input type="text" name="username" value='{{ object.username }}' readonly/>
                    <center>
                        <button type="submit" name='delete_follower' value={{ delete_follower }}>Unfollow This user
                        </button>
                    </center>
                </form>
            {% else %}
                <!-- <form method="POST" action="."> {% csrf_token %}
<button>Follow</button>
</form> -->
                <form action="{% url 'add_follower' %}" method="GET" style="width:50%; margin-bottom: 50px;">
                    {% csrf_token %}
                    <input type="text" name="username" value='{{ object.username }}' readonly/>
                    <center>
                        <button type="submit" name='add_follower' value={{ add_follower }}>Follow</button>
                    </center>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="split right">
        <div class="colums" style="justify-content: center;">
            {% if not pros %}
            <img src="https://img.republicworld.com/republic-prod/stories/promolarge/xxhdpi/1kutzil5lj0nvfsf_1596544016.jpeg?tr=w-812,h-464" alt="No product" style="width:100%">
            {% else %}
            {% for pro in pros %}

                <div class="prodContainer" style="width: 100%;">
                    <h2 style="text-align:center"></h2>

                    <div class="card">
                        <form> {% csrf_token %}
                            <button>
                                <img src="{{ pro.picLink }}" alt="{{ object.name }}" style="width:100%">
                                <h2>{{ pro.name }}</h2>
                                <p class="price">${{ pro.price }}</p>
                                <p style="color: white;">{{ pro.description }}</p>
                            </button>
                        </form>
                    </div>
                </div>

            {% endfor %}
            {% endif %}

        </div>

    </div>
{% endblock content %}